@import "./commonStyles/vars";
@import "./commonStyles/templates";

* {
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

.calendarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  min-width: 280px;
  border: 5px solid $main-border-color;
  margin: 10px;
}

.dayContainer {
  @extend %flex-container;
  background-color: $day-background-color;

  .currentDayOfWeek {
    margin-top: $margin-top;
    font-size: $day-font-size;
    color: $day-text-color;
    text-transform: uppercase;
  }

  .currentDayNumber {
    font-size: $day-number-font-size;
    color: $day-text-color;
  }
}

.monthContainer {
  @extend %flex-container;
  align-items: center;

  .dateGrid {
    border-spacing: 5px;
    text-align: center;
    color: $grid-text-color;
  }

  .currentMonthYear {
    margin-top: $margin-top;
    text-transform: uppercase;
  }

  .otherMonth {
    opacity: 0;
  }

  .currentDay {
    border: 2px solid $highlight-color;
    border-radius: 50%;
  }

  .weekDays {
    color: $highlight-color;
    font-size: $grid-font-size;
  }

  .currentMonth {
    font-size: $grid-font-size;
  }
}
