$grid-font-size: 15px;
$day-font-size: 25px;
$day-number-font-size: 150px;

$highlight-color: red;
$main-border-color: #01aa80;
$day-background-color: #22d6c7;
$day-text-color: white;
$grid-text-color: grey;

$margin-top: 20px;
